absl-py==1.4.0
annotated-types==0.5.0
anyio==3.7.1
certifi==2023.7.22
charset-normalizer==3.2.0
chex==0.1.82
click==8.1.7
colorama==0.4.6
Cython==3.0.2
dtw-python==1.3.0
etils==1.4.1
fastapi==0.103.1
ffmpeg-python==0.2.0
filelock==3.12.3
flax==0.7.2
fsspec==2023.9.0
future==0.18.3
gradio_client==0.5.0
h11==0.14.0
httpcore==0.17.3
httptools==0.6.0
httpx==0.24.1
huggingface-hub==0.16.4
idna==3.4
importlib-resources==6.0.1
jax==0.4.14
jaxlib==0.4.14
Jinja2==3.1.2
llvmlite==0.40.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdurl==0.1.2
ml-dtypes==0.2.0
more-itertools==10.1.0
mpmath==1.3.0
msgpack==1.0.5
nest-asyncio==1.5.7
networkx==3.1
numpy==1.25.2
openai-whisper==20230314
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.3.5
packaging==23.1
protobuf==4.24.3
pydantic==2.3.0
pydantic_core==2.6.3
Pygments==2.16.1
python-dotenv==1.0.0
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
rich==13.5.2
safetensors==0.3.3
scipy==1.11.2
sniffio==1.3.0
starlette==0.27.0
sympy==1.12
tensorstore==0.1.42
tiktoken==0.3.1
tokenizers==0.13.3
toolz==0.12.0
torch==2.0.1
tqdm==4.66.1
transformers==4.33.1
typing_extensions==4.7.1
urllib3==2.0.4
uvicorn==0.23.2
watchfiles==0.20.0
websockets==11.0.3
whisper-jax @ git+https://github.com/sanchit-gandhi/whisper-jax.git@45bff9df78a6a4f04144f405c74cf0ffa4c5fb52
zipp==3.16.2
